@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i');

* {
  box-sizing: border-box;
  line-height: 1.4;
  
}

h1,h2,h3,h4 {
  margin: 0;
  padding: 0;
}

h2 {
  /*margin-bottom: 1.5rem*/
  line-height: 1.1;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(./assets/bg.jpg) no-repeat center top;
  font-family: 'Cabin', Arial, sans-serif;
}

.main-wrapper {
  width: 100%;
  max-width: 965px;
  margin: 0 auto;
  transition: font-size 0.2s ease-in-out
}

.logo {
  width: 216px;
  height: auto;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 48px;
}

header h2 {
  margin: 0;
}

.main-content {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  header, .main-content {
    flex-direction: column;
  }
}

.column-left, .column-right {
  width: 50%;
}

.column-right {
  padding-left: 9%;
}

header .column-left, header .column-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.photo-block {
  background: green;
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin-top: 28px;
  position: relative;
  cursor: pointer;
}

.edit-button {
  position: absolute;
  top: -12px;
  right: 6px;
  opacity: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: red url(./assets/icon-edit.svg) no-repeat center center;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.photo-block:hover .edit-button {
   display: block;
   opacity: 1;
   top: 6px;
}

.person {
  position: relative;
}

header .input-submit {
  position: relative;
  padding-right: 40%;
}

header .input-submit .edit-button {
  background-image: url(./assets/icon-ok.svg)
}

header .input-submit .edit-button.cancel {
  background-color: #999;
  background-image: url(./assets/icon-undo.svg);
  right: 48px
}

.person .edit-button , header .input-submit .edit-button {
  opacity: 1;
  display: block;
  right: 0;
  bottom: 8px;
  top: auto;
}

.person-name {
  font-weight: 900;
  line-height: 1.2;
  text-transform: uppercase;
}

.person-profession {
  line-height: 1;
  text-transform: uppercase;
}

.person-info {
  line-height: 1.2;
}

.person-info-title {
  /*font-size: 34px;*/
  text-transform: uppercase;
  font-weight: 900;
}

.person-info-title::after {
  display: block;
  content: '';
  background: #f50000;
  width: 56px;
  height: 9px;
  margin-top: 10px;
}

.input-submit .person-input {
  border: 0;
  outline: 0;
  height: auto;
  border-bottom: 1px solid #999;
  border-radius: 0;
  padding: 12px 4px;
  margin: 0px 0 0 0;
}

.input-submit .person-input:focus {
  border-bottom: 2px solid rgba(255,45,65,1);
  padding-bottom: 11px;
}



h3 {
  /*font-size: 20px;*/
  text-transform: uppercase;
  margin-bottom: 16px;
}

.work-period {
  padding-left: 40px;
  background: url(./assets/date.png) no-repeat center left;
  margin: 16px 0 36px 0;
}

.work-tech {
  font-weight: bold;
}

ul {
  list-style-position: inside;
  padding: 0;
}

li {
  margin-bottom: 16px;
}

ul li:last-of-type {
  margin-bottom: 0;
}

.person-info-section {
  /*margin-bottom: 60px;*/
}

.edit-panel {
  position: fixed;
  right: 0;
  top: 100px;
  height: auto;
  text-align: center;
  color: #fff;
  background: red;
  padding: 8px;
  width: 52px;
  border-radius: 4px;
  transition: all 0.4s ease-in-out
}

.edit-panel-item {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 28px;
  height: 28px;
  background: no-repeat center center;
  background-size: contain;
}

.edit-panel-item.item-size {
  background-image: url(./assets/icon-text-size.svg)
}

.edit-panel-size {
  border-top: 1px solid #ff6972;
  margin-top: 4px;
}

.edit-panel-size span {
  display: block;
  padding: 6px 0;
  font-size: 16px;
  cursor: pointer;
  opacity: 0.6;
  transition: all 0.2s ease-out;
}

.edit-panel-size span:hover {
  opacity: 1;
}

.one-skill {
  display: inline-block;
  border: 4px solid #000;
  text-transform: uppercase;
  line-height: 1;
  font-weight: bold;
  padding: 8px 16px;
  margin: 0 12px 12px 0;
  position: relative;
}

.delete-item {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  background: #999 url(./assets/icon-delete.svg) no-repeat center center;
  background-size: 14px;
  cursor: pointer;
  
  transition: all 0.2s ease-out
}

.delete-item:hover {
  background-color: #666;
}

.input-submit input{
  display: block;
  border-radius: 3px;
  box-shadow: none;
  padding: 12px 24px;
  margin-bottom: 16px;
  margin-top: 24px;
  border: 1px solid #999;
  width: 100%;
}

.input-submit button {
  color: #fff;
  border-radius: 3px;
  padding: 12px 24px;
  cursor: pointer;
  border: 0;
  box-shadow: 0;
  text-transform: uppercase;
  outline: 0;
  margin-right: 16px;
}

.button-submit {
  background: #ff2d41;
  transition: all 0.2s ease-in-out
}

.button-submit:hover {
  background: #d30404;
}

.button-erase {
  background: #999;
  transition: all 0.2s ease-in-out
}

.button-erase:hover {
  background: #848383;
}

.input-submit textarea {
  margin-bottom: 20px;
  width: 100%;
  padding: 12px 24px;
  border-radius: 3px;
}

textarea:focus, input:focus {
  outline: 2px solid rgba(255,45,65,0.7);
}

/*Proud*/
.proud-one-p {
  position: relative;
}

.proud-one-p .erase, .whyMe li .erase {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9) url(./assets/icon-delete-dark.svg) no-repeat right top ;
  cursor: pointer;
}

.proud-one-p:hover .erase, .whyMe li:hover .erase {
  display: block;
  opacity: 1;
}

/*Why Me*/

.whyMe li {
  position: relative;
}


/*For PDF*/

.pdf-mode-button-off {
  display: none;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.pdf-mode .pdf-mode-button-off {
  display: block;
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

.pdf-mode-button-on {
  opacity: 1;
}

.pdf-mode .pdf-mode-button-on {
  display: none;
  opacity: 0;
}

.pdf-mode-button {
  position: fixed;
  right: 0;
  top: 40px;
  height: auto;
  text-align: center;
  color: #fff;
  background: red;
  padding: 8px;
  width: 52px;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.pdf-mode .not-printed {
  display: none!important;
}


@media screen and (max-width: 680px) {
  .App { padding: 0 8px;}
  .column-left, .column-right { width: 100% }
  .column-right { padding: 0; }

  .proud-one-p .erase, 
  .whyMe li .erase { 
    display: block; 
    background-color: transparent; 
    position: static; 
    width: 24px; 
    height: 24px; 
    opacity: 1;
    float: right;
  }
}

@media screen and (max-width: 600px) {
  .input-submit button { width: 100%; margin: 0 0 8px 0; }
}